.container {
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-second);
  color: var(--color-fg-main);
}

.button {
  background-color: black;
  color: var(--color-fg-main);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  color: skyblue;
}

.titlebox {
  padding-left: 10px;
}

.titlebox:hover {
  cursor: pointer;
}

.userbox {
  padding-right: 10px;
}

.loginBtn {
  display: flex;
  gap:2px;
}