:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg-main: #242424;  
  --color-bg-second: #292830;
  --color-fg-main: rgba(255, 255, 255, 0.87);


  color: var(--color-fg-main);
  background-color: var(--color-bg-main);

}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

button {
  background-color: black;
  color: var(--color-fg-main);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  color: skyblue;
}

